
version: 1.0.{build}
os:
  - Visual Studio 2015

platform:
  - Win32
  - x64

configuration:
  - Debug
  - Release

environment:
  matrix:
    - VisualStudioVersion: 12.0
      PlatformToolset: v120
    - VisualStudioVersion: 14.0
      PlatformToolset: v140

build_script:
- tree
- mkdir build
- cd build
- cmake .. -G "Visual Studio 12 2013"
- msbuild /p:PlatformToolset="%PlatformToolset%" 
