
version: 1.0.{build}
os:
  - Visual Studio 2015

platform:
  - Win32
  - x64

configuration:
  - Debug
  - Release

environment:
  CMAKE_GEN: Visual Studio 12 2013
  matrix:
    - VisualStudioVersion: 10.0
      PlatformToolset: v100
      CMAKE_GEN: Visual Studio 10 2010
      configuration: Debug
      platform: x64
    # - VisualStudioVersion: 11.0
    #   PlatformToolset: v110
    # - VisualStudioVersion: 12.0
    #   PlatformToolset: v120
    # - VisualStudioVersion: 14.0
    #   PlatformToolset: v140
    - VisualStudioVersion: 15.0
      PlatformToolset: v141
      configuration: Debug
      platform: x64

matrix:
  exclude:
    - configuration: Release
    - platform: x86

build_script:
- ps: "Get-ChildItem Env:"
- tree
- dir
- mkdir build
- mkdir build_workaround
- cd build
- cmake ../_test -G "%CMAKE_GEN%" -T %PlatformToolset%
- cmake --build .
- ./comp-test
- cd ../build_workaround
- cmake ../_test -G "%CMAKE_GEN%" -T %PlatformToolset% -D_COMP_TEST_WORKAROUND=ON
- cmake --build .
- ./comp-test
